#Git: .gitignore file for LaTeX projects https://gist.github.com/kogakure/149016
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.pyc
__pycache__